<!doctype html>
  <html>
  <head>
    <title>Where For Lunch today ?</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p>Hey. You should eat lunch at:</p>
    <p class="place"><%= @place %></p>
  </body>
</html>
